* {margin:0;padding:0;}

body {
    background-color: bisque;
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🦄</text></svg>")
	16 0, auto;
	font-family: "Times New Roman", Times, serif;
} 
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
  } 
  th {
	text-align: left;
  }
 tr:nth-child(even) {
	background-color: rgb(139, 138, 59);
  }
  tr:nth-child(odd) {
	background-color: rgb(231, 128, 31);
  }
  th {
	background-color: rgb(78, 73, 73);
  }

